# Created by .ignore support plugin (hsz.mobi)
.idead
.idea/
*.pyc
Data/VisualGenome/pickles/images_data.p
Data/VisualGenome/pickles/qas.p
Data/VisualGenome/pickles/region_interest.p
keras-frcnn-master/
tfFasterRcnn
Weights/resnet50_weights_tf_dim_ordering_tf_kernels_notop.h5
logs/
Pics
FilesManager/
